<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%=title %></title>
    <script type="text/javascript" src="css/style.css"></script>
  </head>
  <body>
      <a href="/auth/facebook"><img src="img/fblogin.png" alt="FB Login button"></a>
  </body>
</html>
